.task {
  height: 80px;
  border: 3px solid rgba(0, 157, 255, 0.32);
  border-radius: 8px;
  position: relative;
  overflow: hidden;
  margin-bottom: 8px;

  .number {
    position: absolute;
    left: 3px;
    top: 3px;
    font-size: 10px
  }

  .name{
    height: 60px;
    overflow: hidden;
    padding-left: 4px;
    padding-top: 16px;
  }

  &.backendTask {
    background: #8295e1;
  }

  &.backendTechDebt {
    background: #fadb56;
  }

  &.backendBug {
    background: #fa5656;
  }

  &.backendTask {
    background: #8295e1;
  }

  &.frontendTask {
    background: #82e18a;
  }

  &.frontendTechDebt {
    background: #faad56;
  }

  &.frontendBug {
    background: #be56fa;
  }

  &.targetTask{
    background: #fadb56 !important;
    border: 4px solid red !important;
  }
}

.centerIcon{
  height: 44px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.projectMarker{
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #ffffff;
  font-size: 10px;
}