.listRow {
  height: 108px;
  border: 3px solid rgba(0, 157, 255, 0.32);
  border-radius: 8px;
  margin-bottom: 16px;
}

.performer {
  .titleRow {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 8px;
    margin-bottom: 8px;

    .left{
      display: flex;
      align-items: center;
      justify-content: flex-start;

      .name {
        font-size: 16px;
        font-weight: 700;
      }

      .icon{
        margin-right: 8px;
        display: flex;
        align-items: center;
        justify-content: flex-start;
      }
    }


  }
}

.task{
  border: 3px solid rgba(0, 157, 255, 0.32);
  border-radius: 8px;
  position: relative;

  .number{
    position: absolute;
    left: 3px;
    top: 3px;
    font-size: 10px
  }
}